<p>Dear {{_context.fieldwork_information_seeker_name | raw}},</p>
<p>We are sorry to inform you that the expedition that you have applied for ({{_context.fieldwork_name | raw}}) has been cancelled.</p>

<p>Best,<br>
Cryo Connect</p>