<p>Dear {{_context.fieldwork_information_seeker_name | raw}},</p>
<p>We regret to inform you that you did not get selected to join {{_context.fieldwork_name | raw}} expedition. Either too many information seekers showed an interest in the expedition, or the expedition plans changed. Please feel free to look for other scientific expeditions to the cryosphere that may be of interest to you at https://CryoConnect.net.
</p>

<p>Best,<br>
Cryo Connect</p>