<p>Dear {{_context.fieldwork_information_seeker_name}},</p>
<p>Your request to get information on expeditions has been approved.&nbsp;</p>
<p>Click here to see the expeditions' information and make an online application: …&nbsp;</p>
<p>Best wishes,</p>
<p>CryoConnect</p>