Dear {{_context.leader_name}},<br>
Thank you for registering your expedition. You will receive a confirmation email as soon as our moderator team verifies the data that you provided.<br>
<p>&nbsp;</p>
<p>&nbsp;</p>