{# empty Twig template #}
<html>
    <head>
        <title>Expedition connect</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <div class="row">
            <form class="col s12" id="search_form">
                <div class="row">
                    <div class="input-field col s12">
                        <select id="cryosphere_where" name="cryosphere_where[]" required multiple>
                            {% for cryosphere_where in _context.cryosphere_where %}
                                <option value="{{cryosphere_where.Id}}">{{cryosphere_where.CryosphereWhereName}}</option>
                            {% endfor %}
                        </select>
                        <label for="cryosphere_where">Region of expedition<font color="red">*</font></label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="range_date" name="range_date" type="text" class="datepicker" required>
                        <label for="start_date">Please select the date range<font color="red">*</font></label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <p class="center-align">
                            <button id="submitBtn" class="btn waves-effect waves-light" type="submit" name="action" disabled>Find
                                <i class="material-icons right">search</i>
                            </button>
                        </p>
                        <div style="visibility : hidden" id="progressBar" >
                            <div class="progress">
                                <div class="indeterminate"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>


            <form class="col s12" id="fieldwork_inquiry_form">



            </form>



        </div>




    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>

        


        //fix required checkbox
        $('#fieldwork_inquiry_form').on('click', '.filled-in', function () {
            if ($(document).find('.filled-in').filter(':checked').length < 1) {
                $(document).find('.filled-in').prop('required', true);
            } else {
                $(document).find('.filled-in').prop('required', false);
            }
            fixValidity();
        });

        document.getElementById("cryosphere_where").addEventListener("focusout", function () {
            if ($('#cryosphere_where').val() != '' && $('#range_date').val() != '') {
                $('#submitBtn').removeAttr("disabled");
            } else {
                $('#submitBtn').attr('disabled', 'disabled');
            }

        });

        document.getElementById("range_date").addEventListener("focusout", function () {
            if ($('#cryosphere_where').val() != '' && $('#range_date').val() != '') {
                $('#submitBtn').removeAttr("disabled");
            } else {
                $('#submitBtn').attr('disabled', 'disabled');
            }
        });

        $(document).ready(function () {
            
            //fixe iframe focusing out of drop box
            $(window).on('blur',function() { document.getElementById('search_form').click()} );

            //search subbmition
            $("#search_form").submit(function (event) {

                /* stop form from submitting normally */
                event.preventDefault();




                $.ajax({
                    type: 'GET',
                    url: "{{path_for('fieldwork_connect_search')}}",
                    data: $(this).serialize(),
                    beforeSend: function () {
                        $('#submitBtn').hide();
                        document.getElementById("progressBar").style.visibility = 'visible';
                        document.getElementById('fieldwork_inquiry_form').innerHTML = '';
                    }
                })
                        .done(function (data) {
                            $('#submitBtn').show();
                            $('#submitBtn').attr('disabled', 'disabled');
                            document.getElementById("progressBar").style.visibility = 'hidden';
                            $('#range_date').val('');
                            console.log(data);
                            document.getElementById('fieldwork_inquiry_form').innerHTML = data;
                            fixValidity();
                        })
                        .fail(function (errMsg) {
                            $('#submitBtn').show();
                            $('#submitBtn').attr('disabled', 'disabled');
                            document.getElementById("progressBar").style.visibility = 'hidden';
                            $('#range_date').val('');
                            alert("Something has gone wrong! Please check your enteries and try again. If error persists, please contact us. Thank you");
                        });

            });
            
            //info request submittion
            //search subbmition
            $("#fieldwork_inquiry_form").submit(function (event) {

                /* stop form from submitting normally */
                event.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: "{{path_for('fieldwork_connect_request')}}",
                    data: $(this).serialize(),
                    beforeSend: function () {
                        $('#submitBtnTwo').attr('disabled', 'disabled');
                    }
                })
                        .done(function (data) {
                            $('#submitBtnTwo').removeAttr('disabled');
                            document.getElementById('fieldwork_inquiry_form').innerHTML = data;
                            parent.scrollTo(0,500);
                        })
                        .fail(function (errMsg) {
                            $('#submitBtn').show();
                            $('#submitBtn').attr('disabled', 'disabled');
                            document.getElementById("progressBar").style.visibility = 'hidden';
                            $('#range_date').val('');
                            alert("Something has gone wrong! Please check your enteries and try again. If error persists, please contact us. Thank you");
                        });

            });

            //to initialize materelize forms
            $('select').formSelect();

            var todayDate = new Date();
            $(".datepicker").flatpickr({
                minDate: todayDate,
                dateFormat: 'd M Y',
                mode: "range"
            });
        });

        function fixValidity() {
            var elements = $("input:checkbox");
            for (var i = 0; i < elements.length; i++) {
                if (elements[i].id != "termcondition") {
                    elements[i].oninvalid = function (e) {
                        e.target.setCustomValidity("");
                        if (!e.target.validity.valid) {
                            e.target.setCustomValidity("Please select one or more options.");
                        }
                    };
                    elements[i].oninput = function (e) {
                        e.target.setCustomValidity("");
                    };
                }
            }
        }
    </script>
</html>