Dear {{_context.leader_name  | raw}},<br>
<p>
Thank you for registering your expedition. You will receive a confirmation email as soon as our moderator team verifies the data that you provided.
</p>
Best,<br>
Cryo Connect
