Dear {{_context.leader_name}},<br>
<p>&nbsp;</p>
Thank you for registering your expedition. You will receive a confirmation email as soon as our moderator team verifies the data that you provided.
<p>&nbsp;</p>
Best,<br>
Cryo Connect
<p>&nbsp;</p>
