<p>Dear {{_context.expert_name}},</p>
<p>You have successfully signed up as an expert at Cryo Connect. From now on you may receive requests from information seekers.&nbsp;</p>
<p>Click here to modify your information in our database: …&nbsp;</p>
<p>Click here to remove all your information from our database permanently: ... &nbsp;</p>

<p>&nbsp;</p>
<p>Best,</p>
<p>Cryo Connect</p>
<p>&nbsp;</p>
<p>&nbsp;</p>