<p>Dear {{_context.expert_name}},</p>
<p>We are sorry to inform you that we could not approve the data you entered as a Cryosphere expert.&nbsp;</p>
{% if _context.explanation != '' %}
    <p>We have gone through your info and rejected your request due to this explanation:<br>
        {{_context.explanation | raw}}
    </p>
    {% endif %}
<p>Thank you,</p>
<p>Best,<br>Cryo Connect</p>