<p>Dear {{_context.expert_name}},</p>
<p>Your records as a Cryosphere expert has been succesfully deleted upon your request through the export's dashboard.&nbsp;</p>

<p>Thank you,</p>
<p>Best,<br>Cryo Connect</p>