<p>Dear {{_context.expert_name}},</p>
<p>You have been sussceessfuly approved and added to Cryoconnect's database.&nbsp;</p>
<p>From now on you may reciee request from information seekeres.&nbsp;</p>

<p>&nbsp;</p>
<p>Thank you,</p>
<p>Best wishes,</p>
<p>CryoConnect App</p>
<p>&nbsp;</p>
<p>&nbsp;</p>