<p>Dear Admin,</p>
<p>There is a new fieldwork request :&nbsp;</p>
{#<p>Fieldwork leader Name : {{_context.fieldwork.FieldworkLeaderName}}</p>
<p>Fieldwork leader Email : {{_context.fieldwork.FieldworkLeaderEmail}}</p>
<p>Could you please approve/disapprove the new fieldwork using the following link :&nbsp;</p>
<p><a href="https://cryoconnect.net{{path_for('fieldwork_approval',{},{'id': _context.fieldwork.Id  , 't': _context.token}) }}">https://cryoconnect.net{{ path_for('fieldwork_approval',{} , {'id': _context.fieldwork.Id , 't': _context.token}) }}</a></p>
#}
<p>&nbsp;</p>
<p>Thank you,</p>
<p>Best wishes,</p>
<p>CryoConnect App</p>
<p>&nbsp;</p>
<p>&nbsp;</p>