<!DOCTYPE html>
<html>
    <head>
        <title>Experts Sign-up</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <label for="firstName">First Name</label>
                    <input id="firstName" type="text" placeholder="Username">
                    <span class="pure-form-message-inline">This is a required field.</span>
                </div>

                <div class="pure-control-group">
                    <label for="familyName">Family Name</label>
                    <input id="familyName" type="text" placeholder="Username">
                    <span class="pure-form-message-inline">This is a required field.</span>
                </div>

                <div class="pure-control-group">
                    <label for="email">Email Address</label>
                    <input id="email" type="email" placeholder="Email Address">
                </div>

                <div class="pure-control-group">
                    <label for="foo">Cryosphere  Countries</label>
                    <input id="CryosphereWhat" type="text" placeholder="What is your Cryosphere expertise" list="suggestions">
                    <datalist id="suggestions">
                        {% for country in _context.countries %}
                            <option value="{{country.CountryName}}">
                            {% endfor %}
                    </datalist>
                </div>

                <div class="pure-controls">
                    <label for="cb" class="pure-checkbox">
                        <input id="cb" type="checkbox"> I've read the terms and conditions
                    </label>

                    <button type="submit" class="pure-button pure-button-primary">Submit</button>
                </div>
            </fieldset>
        </form>
        <script>console.log({{ _context | json_encode | raw }});</script>
        {% for country in _context.countries %}
        <option value="{{country.CountryName}}">
        {% endfor %}
        



</body>

</html>
