<h2><strong>Dear {{_context.first_name}} {{_context.last_name}}</strong></h2>
<h2><strong>Thank you for subscribing. Our agents will check your data entered. You will get an confirmation email. as soon as your data is validated.</strong></h2>
<h2><strong>Best,</strong></h2>
<h2><strong>Cryo Connect</strong></h2>
<p>&nbsp;</p>
<p>&nbsp;</p>