<h2><strong>Dear {{_context.expert_first_name}} {{_context.expert_last_name}},</strong></h2>
<h2><strong>Thank you for signing up. You will receive a confirmation email as soon as our moderator team verifies that you are indeed a cryosphere expert.</strong></h2>
<h2><strong>Best,</strong></h2>
<h2><strong>Cryo Connect</strong></h2>
<p>&nbsp;</p>
<p>&nbsp;</p>