<p>Dear {{_context.fieldwork_leader_name  | raw}},</p>
<p>You have successfully registered your expedition at Cryo Connect. From now on you may receive requests from information seekers interested in joining your expedition.&nbsp;</p>
<p>Click here to modify/remove your information in our database: …&nbsp;</p>

<p>Best wishes,</p>
<p>CryoConnect</p>