<p>Dear {{_context.fieldwork_leader_name | raw}},</p>
<p>We have carefully studied the information you provided, but we are sorry to inform you that we can’t approve your expedition listing at Cryo Connect for now. The reason provided by our moderator team is:<br>
{% if _context.explanation != '' %}
    {{_context.explanation | raw}}
{% endif %}
</p>
<p>
    Best,
    <br>
    Cryo Connect
</p>