<p>Dear {{_context.fieldwork_leader_name}},</p>
<p>You have successfully registered your expedition at Cryo Connect. From now on you may receive requests from information seekers interested in joining your expedition.&nbsp;</p>
<p>Click here to modify your information in our database: …&nbsp;</p>
<p>Click here to remove all your information from our database permanently: ... &nbsp;</p>
<p>Best wishes,</p>
<p>CryoConnect</p>