<p>Dear {{_context.fieldwork_leader_name}},</p>
<p>We are sorry to inform you that we could not approve the data you entered for a Cryosphere fieldwork.&nbsp;</p>
{% if _context.explanation != '' %}
<p>We have gone through your info and rejected your request due to this explanation:&nbsp;</p>
<p>{{_context.explanation | raw}}</p>
{% endif %}
<p>&nbsp;</p>
<p>Thank you,</p>
<p>Best wishes,</p>
<p>CryoConnect App</p>
<p>&nbsp;</p>
<p>&nbsp;</p>